In [1]:
import numpy as np

In [2]:
#let's calculate average of[1,2,3,4,5,6] using numpy
data_mean=np.mean([1,2,3,4,5,6])

In [3]:
print(data_mean)

3.5

In [4]:
import pandas as pd

In [6]:
df=pd.DataFrame()
df["age"]=[12,34,56,78,23]
df["weights"]=[56,78,88,67,50]
print(df)

   age  weights
0   12       56
1   34       78
2   56       88
3   78       67
4   23       50

In [7]:
df.shape

(5, 2)

In [8]:
df.transpose

<bound method DataFrame.transpose of    age  weights
0   12       56
1   34       78
2   56       88
3   78       67
4   23       50>

In [9]:
df.transpose()

          0   1   2   3   4
age      12  34  56  78  23
weights  56  78  88  67  50

In [10]:
df.mean()

age        40.6
weights    67.8
dtype: float64

In [11]:
help(pandas)

NameError: name 'pandas' is not defined

# control statement

In [18]:
#if statement
temperature =30
if temperature>30:
    print("Warning:Stay indoors!")
elif temperature > 20:
    print("Confortable temperature")
else:
    print("Unusually cold for Colombo")

Confortable temperature

In [19]:
#for loop
for x in range(0,3):
    print("Number:",x)

Number: 0
Number: 1
Number: 2

In [23]:
for i in[1,2,3,4,5,6]:
    if(i>4):
        break
        print(i)

In [28]:
for letter in 'Ashan':
    if letter =='k':
        print('found a.stopping loop')
        break
    else:
        print('Not found')

Not found
Not found
Not found
Not found
Not found

In [29]:
#nested for loop
for i in [[1,2,3],[11,22,33]]:
    for j in i:
        print(j,i)

1 [1, 2, 3]
2 [1, 2, 3]
3 [1, 2, 3]
11 [11, 22, 33]
22 [11, 22, 33]
33 [11, 22, 33]

In [ ]:
#while loop
x=0
while(x < 3):
    print("Number:",x)
    x+=1

In [ ]:
#while loop
x=0
while (x < 3):
    print("Number:",x)
    x+=1

In [ ]:
import matplotlib.pylot as plt
import numpy as np
%matplotlib inline
labels=['Badull','Kandy','Kegalle','Kurunegala','Matale','Other']
sizes=[130,625,40,21,111,69]

bar_position = np.arange(len(lables))
plt.bar(left=bar_position,height=sizes,align='center',alpha=0.5)
plt.xticks(bar_position, labels)
plt.title("Number of Tea Estates by District in Sri Lanka")